%h1 Sports

= link_to 'Home', root_path

%table


  %tbody
    - @sports.each do |sport|
      %tr
        %td= sport.title
        .overlay
          %td= image_tag(sport.image_url, class: 'image')


%br



%p#ad Advertise here
