%h1=t('.title')
%p#wp=t('.welcome')




%h2#sp
  = link_to "Sports", sports_path


%h2#bk
  = link_to "Book", new_book_path


%h2#mbk
  = link_to "Current Bookings", books_path

%h2
  = link_to "Contact Us", contact_path
