%h1=t('.title')
%p#wp=t('.welcome')

%h2#foot Football

%h2#nfl American Football

%h2#f1 Formula 1
%button#show Show
%p#f1p In the 2020 Formula 1 season 20 drivers from across the world compete in 15+ races across 5 continents to achieve the ultimate title of world champion.
%p#f1link Standings.
